<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
    <link rel="stylesheet" href="/css/partials/list-sidebar.css">
    <link rel="stylesheet" href="/css/pages/education_overview.css">
    <link rel="stylesheet" href="/css/pages/linceses.css">
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
        <div class="edu-overview-top text-center">
            <div class="edu-overview-top-content">
                <h1 class="text-white"><%= __('金融牌照申请') %></h1>
                <p><%= __('Finance License Application') %>
                </p>
                <button type="button" class="btn btn-success btn-lg">START TRADING</button>
            </div>
        </div>
        <div class="edu-overview-navbar">
            <div class="menu-item ">
                <a href="/services/vgf/licenses/1"><%= __('区块链牌照申请') %></a>
            </div>
            <div class="menu-item active">
                <a href="/services/vgf/licenses/2"><%= __('金融牌照申请') %></a>
            </div>
            <div class="menu-item">
                <a href="/services/vgf/licenses/3"><%= __('监管查询') %></a>
            </div>
        </div>
        <div class="container wrap-licenses mt-4 mb-4">
            <div class="license">
                <div class="text">
                    <h1>澳大利亚 AUSTRAC</h1>
                    <span style="color: rgb(66, 165, 246);">——</span>
                    <h2>Australia AUSTRAC</h2>
                    <a class="btn btn-success" href="#">Learn More</a>
                </div>
                <div class="img" style="margin: -20px -40px;">
                    <img src="//18527882.s21i.faiusr.com/4/ABUIABAEGAAg_LjV7QUopPv_4gMw2AQ4rAI!450x450.png.webp">
                </div>
            </div>
            <div class="license">
                <div class="text">
                    <h1>新西兰 FSP</h1>
                    <span style="color: rgb(66, 165, 246);">——</span>
                    <h2>New Zealand FSP</h2>
                    <a class="btn btn-success" href="#">Learn More</a>
                </div>
                <div class="img" style="margin: -40px 0;">
                    <img src="//18527882.s21i.faiusr.com/4/ABUIABAEGAAggfjf7QUopM740AQw8AE4yAE.png.webp" width="300px">
                </div>
            </div>
            <div class="license">
                <div class="text">
                    <h1>开曼 CIMA</h1>
                    <span style="color: rgb(66, 165, 246);">——</span>
                    <h2>Cayman CIMA</h2>
                    <a class="btn btn-success" href="#">Learn More</a>
                </div>
                <div class="img" style="margin: -40px 0;">
                    <img src="//18527882.s21i.faiusr.com/4/ABUIABAEGAAggvnf7QUogK-vsQYwugU46QE!500x500.png.webp">
                </div>
            </div>
            <div class="license">
                <div class="text">
                    <h1>英国 FCA</h1>
                    <span style="color: rgb(66, 165, 246);">——</span>
                    <h2>UK FCA</h2>
                    <a class="btn btn-success" href="#">Learn More</a>
                </div>
                <div class="img" style="margin: -40px 0;">
                    <img src="//18527882.s21i.faiusr.com/4/ABUIABAEGAAg3Pnf7QUowdngrgYwwwI4nAE.png.webp">
                </div>
            </div>
            <div class="license">
                <div class="text">
                    <h1>加拿大 MSB</h1>
                    <span style="color: rgb(66, 165, 246);">——</span>
                    <h2>Canada MSB</h2>
                    <a class="btn btn-success" href="#">Learn More</a>
                </div>
                <div class="img" style="margin: -40px 0;">
                    <img src="//18527882.s21i.faiusr.com/4/ABUIABAEGAAgmvzf7QUo4puI_QQwrAI41QE.png.webp">
                </div>
            </div>
            <div class="license">
                <div class="text">
                    <h1>瓦努阿图 VSFC</h1>
                    <span style="color: rgb(66, 165, 246);">——</span>
                    <h2>Vanuatu VSFC</h2>
                    <a class="btn btn-success" href="#">Learn More</a>
                </div>
                <div class="img" style="margin: -40px 0;">
                    <img src="//18527882.s21i.faiusr.com/4/ABUIABAEGAAgnP7f7QUogoj-jAYwjAM4fw.png.webp">
                </div>
            </div>
            <div class="license">
                <div class="text">
                    <h1>塞舌尔 FSA</h1>
                    <span style="color: rgb(66, 165, 246);">——</span>
                    <h2>Seychelles FSA</h2>
                    <a class="btn btn-success" href="#">Learn More</a>
                </div>
                <div class="img" style="margin: -40px 0;">
                    <img src="//18527882.s21i.faiusr.com/4/ABUIABAEGAAg2--f7QUo0IO_BzCXBDjkAw!300x300.png.webp">
                </div>
            </div>
            <div class="license">
                <div class="text">
                    <h1>伯利兹 IFSC</h1>
                    <span style="color: rgb(66, 165, 246);">——</span>
                    <h2>Belize IFSC</h2>
                    <a class="btn btn-success" href="#">Learn More</a>
                </div>
                <div class="img" style="margin: -40px 0;">
                    <img src="//18527882.s21i.faiusr.com/4/ABUIABAEGAAgs4Pg7QUokp-d3QMwlgE4lgE.png.webp" width="200px">
                </div>
            </div>
            <div class="license">
                <div class="text">
                    <h1>圣文森特 FSA</h1>
                    <span style="color: rgb(66, 165, 246);">——</span>
                    <h2>Saint Vincent FSA </h2>
                    <a class="btn btn-success" href="#">Learn More</a>
                </div>
                <div class="img" style="margin: -40px 0;">
                    <img src="//18527882.s21i.faiusr.com/4/ABUIABAEGAAgoILg7QUogM3K7AQw9AQ44QI!300x300.png.webp">
                </div>
            </div>
            <div class="license">
                <div class="text">
                    <h1>美国 NFA</h1>
                    <span style="color: rgb(66, 165, 246);">——</span>
                    <h2>USA National Futures Association</h2>
                    <a class="btn btn-success" href="#">Learn More</a>
                </div>
                <div class="img" style="margin-left: -80px;">
                    <img src="//18527882.s21i.faiusr.com/2/ABUIABACGAAgpIjg7QUozpDX1AUwyQQ4lgE.jpg.webp">
                </div>
            </div>s
        </div>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>