<div id="nav-header">
    <nav class="navbar navbar-expand-xl navbar-light">
        <a class="navbar-brand" href="/" id="logo">
            <img src="/images/company-logo.png" alt="VGF-logo" width="165px" height="80px" />
        </a>
        <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span style="font-size: 1.5em; color: #fff;"><i class="fa fa-bars"></i></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/"><%= __('Home') %></a>
                </li>
                <li class="nav-item">
                    <span><%= __('Our Service') %></span>
                    <ul class="sub-menu">
                        <li>
                            <span>Forex Market</span>
                            <ul class="sub-menu-lv2">
                                <li><a href="/services/forex/1"><%= __('Over review') %></a></li>
                                <li><a href="/services/forex/2">Forex</a></li>
                                <li><a href="/services/forex/3"><%= __('Commodities') %></a></li>
                                <li><a href="/services/forex/4"><%= __('Indices') %></a></li>
                            </ul>
                        </li>
                        <li><a href="/services/copy_trade">Copy Trade</a></li>
                        <li><a href="/services/capital_markets">Capital Markets</a></li>
                        <li><a href="/services/technology_advisory"><%= __('Technology & Advisory') %></a></li>
                        <li><a href="/services/finance_rish"><%= __('Finance & Rish') %></a></li>
                        <li><a href="/services/portfolio_management"><%= __('Portfolio Management') %></a></li>
                        <li><a href="/services/blockchain">Blockchain</a></li>
                        <li><a href="/services/finance_training"><%= __('Finance Training') %></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <span><%= __('Our Support') %></span>
                    <ul class="sub-menu">
                        <li>
                            <span><%= __('Education') %></span>
                            <ul class="sub-menu-lv2">
                                <li><a href="/support/education/education_overview"><%= __('Education Overview') %></a>
                                </li>
                                <li><a
                                        href="/support/education/trading_knowledge/1/1"><%= __('Trading Knowledge') %></a>
                                </li>
                                <li><a href="/support/education/advantage_of_forex"><%= __('Advantage of Forex') %></a>
                                </li>
                                <li><a href="/support/education/advantage_of_cfds"><%= __('Advantage of CFDs') %></a>
                                </li>
                                <li><a href="/support/education/video_tutorials"><%= __('Video Tutorials') %></a></li>
                                <li><a href="/support/education/web_tv">Web TV</a></li>
                                <li><a
                                        href="/support/education/getting_start"><%= __('Getting Started (10 lessons)') %></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span><%= __('Help & Resource') %></span>
                            <ul class="sub-menu-lv2">
                                <li><a href="/support/help"><%= __('Help Center') %></a></li>
                                <li><a
                                        href="/support/education/trading_knowledge/1/1"><%= __('Market Analysis blog') %></a>
                                </li>
                                <li><a href="#"><%= __('Economic Calendar') %></a></li>
                                <li><a href="#"><%= __('Forex Glossary') %></a></li>
                                <li><a href="/support/news/1"><%= __('News') %></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <span><%= __('Promotion') %></span>
                    <ul class="sub-menu">
                        <li><a href="#"><%= __('30% welcome credit') %></a></li>
                        <li><a href="#"><%= __('Rebate Promotions') %></a></li>
                        <li><a href="#"><%= __('Loyalty Program') %></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <span><%= __('Partnerships') %></span>
                    <ul class="sub-menu">
                        <li><a href="#"><%= __('Regional Partnerships') %></a></li>
                        <li><a href="#"><%= __('Introducing Broker') %></a></li>
                        <li><a href="#"><%= __('Affiliate Program') %></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#"><%= __('Shop') %></a>
                </li>
                <li class="nav-item">
                    <span><%= __('About Us') %></span>
                    <ul class="sub-menu">
                        <li><a href="#"><%= __('About VGF') %></a></li>
                        <li><a href="#"><%= __('Regulation') %></a></li>
                        <li><a href="#"><%= __('Legal Document') %></a></li>
                        <li><a href="#"><%= __('Careers') %></a></li>
                        <li><a href="#"><%= __('Contact Us') %></a></li>
                    </ul>
                </li>
                <li class="nav-item" style="margin-left: 25px">
                    <span><%= __('Language') %></span>
                    <ul class="sub-menu">
                        <li>
                            <a href="/change-lang/en">
                                <img src="/images/England.png" alt="england" width="30px">
                                <span>English</span>
                            </a>
                        </li>
                        <li>
                            <a href="/change-lang/vi">
                                <img src="/images/vietnam.png" alt="vietnam" width="30px">
                                <span>Tiếng Việt</span>
                            </a>
                        </li>
                        <li>
                            <a href="/change-lang/cn">
                                <img src="/images/chinese.png" alt="chinese" width="30px">
                                <span>简体中文</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
    <div class="iframe-top" id="price-tag">
        <iframe id="iframe-top"
            src="https://s.tradingview.com/embed-widget/ticker-tape/?locale=en#%7B%22symbols%22%3A%5B%7B%22title%22%3A%22S%26P%20500%22%2C%22proName%22%3A%22INDEX%3ASPX%22%7D%2C%7B%22title%22%3A%22Shanghai%20Composite%22%2C%22proName%22%3A%22INDEX%3AXLY0%22%7D%2C%7B%22title%22%3A%22EUR%2FUSD%22%2C%22proName%22%3A%22FX_IDC%3AEURUSD%22%7D%2C%7B%22title%22%3A%22BTC%2FUSD%22%2C%22proName%22%3A%22BITFINEX%3ABTCUSD%22%7D%2C%7B%22title%22%3A%22ETH%2FUSD%22%2C%22proName%22%3A%22BITFINEX%3AETHUSD%22%7D%5D%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22displayMode%22%3A%22adaptive%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A44%2C%22utm_source%22%3A%22focusmarkets.netprodesign.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22ticker-tape%22%7D"
            frameborder="0" scrolling="no"
            data-src="https://s.tradingview.com/embed-widget/ticker-tape/?locale=en#%7B%22symbols%22%3A%5B%7B%22title%22%3A%22S%26P%20500%22%2C%22proName%22%3A%22INDEX%3ASPX%22%7D%2C%7B%22title%22%3A%22Shanghai%20Composite%22%2C%22proName%22%3A%22INDEX%3AXLY0%22%7D%2C%7B%22title%22%3A%22EUR%2FUSD%22%2C%22proName%22%3A%22FX_IDC%3AEURUSD%22%7D%2C%7B%22title%22%3A%22BTC%2FUSD%22%2C%22proName%22%3A%22BITFINEX%3ABTCUSD%22%7D%2C%7B%22title%22%3A%22ETH%2FUSD%22%2C%22proName%22%3A%22BITFINEX%3AETHUSD%22%7D%5D%2C%22colorTheme%22%3A%22dark%22%2C%22isTransparent%22%3Atrue%2C%22displayMode%22%3A%22adaptive%22%2C%22width%22%3A%22100%25%22%2C%22height%22%3A44%2C%22utm_source%22%3A%22focusmarkets.netprodesign.com%22%2C%22utm_medium%22%3A%22widget%22%2C%22utm_campaign%22%3A%22ticker-tape%22%7D" "></iframe>
    </div>
</div>