<div class="right-sidebar">
    <div class="top shadow">
        <img src="/images/vgf-logo-white.png" alt="company-logo" width="200px">
        <p><%= __('Access over 200 markets & tight spreads') %></p>
        <p><%= __('with a regulated CFD Provider') %> </p>
        <button type="button" class="btn btn-success">START TRADING</button>
    </div>
    <div class="bottom mt-2 shadow-sm">
        <h1><%= __('Contact Us') %></h1>
        <p><%= __('We are here 24hrs a day Monday to Sunday') %>.</p>
        <h3><a href="" class="text-dark"><i class="fa fa-phone"
                    style="font-size: 1em ;color: #000;margin-right: 20px;"></i><%= __('Help Center') %></a>
        </h3>
        <h3><a href="" class="text-dark"><i class="far fa-envelope-open"
                    style="font-size: 1em ;color: #000  ;margin-right: 20px;"></i><%= __('Email Us') %></a>
        </h3>
    </div>
</div>