<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../../partials/header') %>
    </header>
    <main>
        <div class="container help-centre-container">
            <% data.forEach(function(item) {%>
            <h1 style="padding: 40px 0;font-size: 48px;margin-top: 40px;text-align:center;"><%= item.mainText %></h1>
            <% item.question.forEach(function(question,index) { %>
            <div class="faq-accordion mb-3">
                <div class="collapse-box" data-toggle="collapse" data-target="#collapse<%= index %>"
                    aria-expanded="false" aria-controls="collapse<%= index %>"><%= question.mainQuestion %><span><i
                            class="fa fa-chevron-down"></i></span>
                </div>
                <div class="collapse" id="collapse<%= index %>" aria-controls="collapse<%= index %>">
                    <div class="card card-body panel-content">
                        <%- question.mainAnswer %>
                    </div>
                </div>
            </div>
            <% }) %>
            <% }) %>
            <!-- input Form -->
            <div class="faq-search__container">
                <input class="faq-input faq-search-input" type="text" placeholder="Type your question here">
                <div class="faq-result"></div>
                <div class="faq-tips">
                    <p>
                        <b>How do I get help?</b><br>
                        Simply type your question in the search box above to get instant answers.<br>
                        For better results, type more than one word and use a question phrasing. If you don't find a
                        match try phrasing your question differently (not a strict coincidence expected occurrence of
                        each of the words separated by a space).
                    </p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <%- include ('../../../partials/footer') %>
    </footer>
</body>

</html>