<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/pages/index.css">
</head>

<body>
    <!-- Navbar -->
    <div class="wrapper">
        <div class="header">
            <!-- Navbar Start -->
            <%- include ('../partials/header') %>
            <!-- Navbar End -->
            <!-- Slide Start -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide1" id="slide1">
                        <div class="wrap-slide">
                            <div class="content">
                                <h1 class="text-white" id="company-name">Vins Global Fintech</h1>
                                <p class="text-white" id="company-desc">
                                    <%= __('We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.') %>
                                </p>
                            </div>
                            <div class="btnGroup" id="btn-group">
                                <button type="button" class="btn btn-info btn-lg"><a
                                        href="/about"><%= __('Learn More') %></a></button>
                                <button class="btn btn-primary btn-lg" type="submit"><a
                                        href="/contact"><%= __('Contact Us') %></a></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide2">
                        <div class="wrap-slide">
                            <div class="content">
                                <h4 class="text-white"><%= __('we help') %></h4>
                                <h1 class="text-white"><%= __('growing business') %></h1>
                                <p class="text-white">
                                    <%= __('We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.') %>
                                </p>
                            </div>
                            <div class="btnGroup">
                                <button type="button" class="btn btn-info btn-lg"><a
                                        href="/about"><%= __('Learn More') %></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide End -->
        </div>

        <!-- 3 sologan -->
        <div class="container-fluid p-0 m-0">
            <div class="row m-0">
                <div class="col-lg-4">
                    <div class="row m-0 sologan">
                        <div class="col-4"><svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                class="intro-item-icon" data-v-6dca16c4="">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g stroke="#ffffff" transform="translate(-517.000000, -1229.000000)">
                                        <g transform="translate(370.000000, 1189.000000)">
                                            <g transform="translate(147.000000, 40.000000)">
                                                <g>
                                                    <g>
                                                        <polygon stroke-width="3" fill-rule="nonzero"
                                                            points="38.8130841 15 5 80 72 80"></polygon>
                                                        <polygon stroke-width="3" fill-rule="nonzero"
                                                            points="70.7122856 31 59 53.2746179 73.1406468 80 96 80">
                                                        </polygon>
                                                        <polyline stroke-width="3" fill-rule="nonzero"
                                                            points="28 35.3333333 31.9310345 39.3333333 36.5172414 33.3333333 41.1034483 40 47 30">
                                                        </polyline>
                                                        <polyline stroke-width="3" fill-rule="nonzero"
                                                            points="62 47.2666667 64.8965517 50.4666667 68.2758621 45.6666667 71.6551724 51 76 43">
                                                        </polyline>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div class="col-8" style="display: flex;flex-direction: column; justify-content: space-around;">
                            <h5 class="text-white">
                                <%= __('To be a leader in the field of financial data application') %>
                            </h5>
                            <span class="intro-item-title"
                                style="color: #ddd;font-size: 0.7em;text-align: center;">-Vision-</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row m-0 sologan">
                        <div class="col-4"><svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                class="intro-item-icon" data-v-6dca16c4="">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g stroke="#ffffff" transform="translate(-913.000000, -1225.000000)">
                                        <g transform="translate(370.000000, 1189.000000)">
                                            <g transform="translate(543.000000, 36.000000)">
                                                <g>
                                                    <g>
                                                        <g transform="translate(21.000000, 18.000000)" stroke-width="3">
                                                            <path
                                                                d="M31.8996859,35.003543 L28.5,37 L25.1003141,35.003543 C15.1043377,29.1334622 9,18.6376261 9,7.32081053 L9,0 L48,0 L48,7.32081053 C48,18.6376261 41.8956623,29.1334622 31.8996859,35.003543 Z">
                                                            </path>
                                                            <path d="M47.9628564,11 L58,11 C58,11 54.4166013,27 41,27">
                                                            </path>
                                                            <path d="M9.77159363,11 L0,11 C0,11 2.9383581,27 16,27">
                                                            </path>
                                                            <path d="M29,37 L29,58"></path>
                                                            <polygon points="19 65 39 65 39 58 19 58"></polygon>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div class="col-8" style="display: flex;flex-direction: column; justify-content: space-around;">
                            <h5 class="text-white">
                                <%= __('To provide intelligent trading solution') %>
                            </h5>
                            <span class="intro-item-title"
                                style="color: #ddd;font-size: 0.7em;text-align: center;">-Mission-</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row m-0 sologan">
                        <div class="col-4"><svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                class="intro-item-icon" data-v-6dca16c4="">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g stroke="#ffffff" transform="translate(-1308.000000, -1225.000000)">
                                        <g transform="translate(370.000000, 1189.000000)">
                                            <g transform="translate(938.000000, 36.000000)">
                                                <g>
                                                    <g>
                                                        <g transform="translate(22.000000, 16.000000)"
                                                            fill-rule="nonzero" stroke-width="3">
                                                            <path d="M35.5,56 L35.5,70"></path>
                                                            <path d="M21.5,56 L21.5,70"></path>
                                                            <path d="M28.5,61 L28.5,75"></path>
                                                            <polyline
                                                                points="20.0066225 25 0 40.3111111 0 51 57 51 57 40.3111111 36.9933775 25">
                                                            </polyline>
                                                            <path
                                                                d="M20.5,49.5 L36.5,49.5 L36.5,19.7144971 C36.5,13.3540703 34.0586542,7.08331437 29.3906459,1.5 L27.6093541,1.5 C22.9413458,7.08331437 20.5,13.3540703 20.5,19.7144971 L20.5,49.5 Z">
                                                            </path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg></div>
                        <div class="col-8" style="display: flex;flex-direction: column; justify-content: space-around;">
                            <h5 class="text-white">
                                <%= __('Trader First, Technology for Social Good') %>
                            </h5>
                            <span class="intro-item-title"
                                style="color: #ddd;font-size: 0.7em;text-align: center;">-Concept-</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <br>
            <h1 style="color: #000"><%= __('Services We Provide') %></h1>
            <hr>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-lg-3 box">
                <div class="card m-0">
                    <img src="images/forex.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Forex</h5>
                        <p class="card-text text-secondary">
                            <%= __('Open 24 hours a day 5 days a week, the foreign exchange market is the largest and most liquid market in the world with volumes of o…') %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 box">
                <div class="card m-0">
                    <img src="images/copytrade.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Copy Trade</h5>
                        <p class="card-text text-secondary">
                            <%= __('LONDON (Reuters) - The cost of swapping euros and sterling for dollars in FX swap markets fell on Monday to the lowest in over a de…') %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 box">
                <div class="card m-0">
                    <img src="images/finance.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Finance Training</h5>
                        <p class="card-text text-secondary">
                            <%= __('Investing.com - The dollar was in demand in early trading in Europe on Friday, as investors sought safety following the d…') %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <br>
    <br>
    <br>

    <div class="home_section_c">
        <video poster="https://www.xatrade.com/skin/index/images/pic_28.jpg" autoplay="" muted="" loop=""
            class="vidbacking-active-block-back" style="opacity: 1;">
            <source src="https://www.xatrade.com/skin/index/images/28.mp4" type="video/mp4">
        </video>
        <div class="container hidden text-white video-content">
            <p class="wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <%= __('VGF joins hands with internationally renowned analysis agency Trading Central') %>
            </p>
            <p class="wow fadeInLeft" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                <%= __('Provide you with award-winning automatic investment analysis and research tools') %>
            </p>
            <p class="wow fadeInLeft" data-wow-delay="0.6s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                <%= __('Let you make the best decision') %>
            </p>
            <p class="p-t-30">
                <img src="/images/vgf-logo-white.png" class="m-r-15 wow fadeInLeft" data-wow-delay="0.9s"
                    style="width: 130px; visibility: visible; animation-delay: 0.9s; animation-name: fadeInLeft;">
            </p>
            <div class="home_section_c_list">
                <div class="home_section_c_li wow fadeInLeft" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <span style="font-size: 2em; color: Tomato;margin-right: 10px;"><i
                            class="fa fa-arrow-right"></i></span>
                    <span><%= __('Analyst Perspective') %>(AC)</span>
                </div>
                <div class="home_section_c_li wow fadeInLeft" data-wow-delay="0.6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                    <span style="font-size: 2em; color: Tomato;margin-right: 10px;"><i
                            class="fa fa-arrow-right"></i></span>
                    <span><%= __('Adaptive Candle Chart') %> (AC)</span>
                </div>
                <div class="home_section_c_li wow fadeInLeft" data-wow-delay="0.9s"
                    style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInLeft;">
                    <span style="font-size: 2em; color: Tomato;margin-right: 10px;"><i
                            class="fa fa-arrow-right"></i></span>
                    <span><%= __('Adaptive Divergence Index') %> (ADC)</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <%- include ('../partials/footer') %>
    <!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>
</body>

</html>