<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head') %>
</head>

<body>
    <!-- Navbar -->
    <div class="wrapper">
        <div class="header">
            <!-- Navbar Start -->
            <%- include ('../partials/header') %>
            <!-- Navbar End -->
            <!-- Slide Start -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide1" id="slide1">
                        <div class="wrap-slide">
                            <div class="content">
                                <h1 class="text-white" id="company-name">Vins Global Fintech</h1>
                                <p class="text-white" id="company-desc">
                                    <%= __('We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.') %>
                                </p>
                            </div>
                            <div class="btnGroup" id="btn-group">
                                <button type="button" class="btn btn-info btn-lg"><a
                                        href="#"><%= __('Learn More') %></a></button>
                                <button class="btn btn-primary btn-lg" type="submit"><a
                                        href="#footer"><%= __('Contact Us') %></a></button>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide swiper-slide2">
                        <div class="wrap-slide">
                            <div class="content">
                                <h4 class="text-white"><%= __('we help') %></h4>
                                <h1 class="text-white"><%= __('growing business') %></h1>
                                <p class="text-white">
                                    <%= __('We help you managing asset, provide financial advise. Leave money issue with us and focus on your core business.') %>
                                </p>
                            </div>
                            <div class="btnGroup">
                                <button type="button" class="btn btn-info btn-lg"><a
                                        href="#"><%= __('Learn More') %></a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide End -->
        </div>

        <!-- 3 sologan -->
        <div class="row m-0">
            <div class="col-lg-4">
                <div class="row box1 m-0">
                    <div class="col-4"><img src="images/clock.png" alt="clock" width="60px" height="60px"></div>
                    <div class="col-8">
                        <h3 class="text-white"><%= __('On time') %><br><%= __('Service') %></h3>
                        <p class="text-white">
                            <%= __('Transforming distribution and marketing with key capabilities in customer insight and analytics.') %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row box2 m-0">
                    <div class="col-4"><img src="images/team.png" alt="clock" width="60px" height="60px"></div>
                    <div class="col-8">
                        <h3 class="text-white"><%= __('A Team of Professional.') %></h3>
                        <p class="text-white">
                            <%= __('Transforming distribution and marketing with key capabilities in customer insight and analytics.') %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row box3 m-0">
                    <div class="col-4"><img src="images/analytics.png" alt="clock" width="60px" height="60px"></div>
                    <div class="col-8">
                        <h3 class="text-white"><%= __('Analyze Your Business.') %></h3>
                        <p class="text-white">
                            <%= __('Transforming distribution and marketing with key capabilities in customer insight and analytics.') %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <br>
            <h1 style="color: #000"><%= __('Services We Provide') %></h1>
            <hr>
        </div>
        <div class="row justify-content-center m-0">
            <div class="col-lg-3 box">
                <div class="card m-0">
                    <img src="images/forex.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Forex</h5>
                        <p class="card-text text-secondary">
                            <%= __('Open 24 hours a day 5 days a week, the foreign exchange market is the largest and most liquid market in the world with volumes of o…') %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 box">
                <div class="card m-0">
                    <img src="images/copytrade.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Copy Trade</h5>
                        <p class="card-text text-secondary">
                            <%= __('LONDON (Reuters) - The cost of swapping euros and sterling for dollars in FX swap markets fell on Monday to the lowest in over a de…') %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 box">
                <div class="card m-0">
                    <img src="images/finance.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Finance Training</h5>
                        <p class="card-text text-secondary">
                            <%= __('Investing.com - The dollar was in demand in early trading in Europe on Friday, as investors sought safety following the d…') %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <br>
    <br>
    <br>

    <div class="home_section_c">
        <video poster="https://www.xatrade.com/skin/index/images/pic_28.jpg" autoplay="" muted="" loop=""
            class="vidbacking-active-block-back" style="background-image: url(&quot;undefined&quot;); opacity: 1;">
            <source src="https://www.xatrade.com/skin/index/images/28.mp4" type="video/mp4">
        </video>
        <div class="container hidden text-white video-content">
            <p class="wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                <%= __('VGF joins hands with internationally renowned analysis agency Trading Central') %>
            </p>
            <p class="wow fadeInLeft" data-wow-delay="0.3s"
                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                <%= __('Provide you with award-winning automatic investment analysis and research tools') %>
            </p>
            <p class="wow fadeInLeft" data-wow-delay="0.6s"
                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                <%= __('Let you make the best decision') %>
            </p>
            <p class="p-t-30">
                <img src="/images/company-logo.png" class="m-r-15 wow fadeInLeft" data-wow-delay="0.9s"
                    style="width: 130px; visibility: visible; animation-delay: 0.9s; animation-name: fadeInLeft;">
            </p>
            <div class="home_section_c_list">
                <div class="home_section_c_li wow fadeInLeft" data-wow-delay="0.3s"
                    style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                    <span style="font-size: 2em; color: Tomato;margin-right: 10px;"><i
                            class="fa fa-arrow-right"></i></span>
                    <span><%= __('Analyst Perspective') %>(AC)</span>
                </div>
                <div class="home_section_c_li wow fadeInLeft" data-wow-delay="0.6s"
                    style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                    <span style="font-size: 2em; color: Tomato;margin-right: 10px;"><i
                            class="fa fa-arrow-right"></i></span>
                    <span><%= __('Adaptive Candle Chart') %> (AC)</span>
                </div>
                <div class="home_section_c_li wow fadeInLeft" data-wow-delay="0.9s"
                    style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInLeft;">
                    <span style="font-size: 2em; color: Tomato;margin-right: 10px;"><i
                            class="fa fa-arrow-right"></i></span>
                    <span><%= __('Adaptive Divergence Index') %> (ADC)</span>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us-->
    <!-- <div class="col-sm col-md-12 about-us-wrapper m-0" style="height: 400px;">
        <br>
        <h1 style="color: #000;" class="text-center"><span style="color: #fff"><%= __('Something About Us') %></span>
        </h1>
        <br>
        <div class="row main-container-wrapper m-0">
            <div class="col-md-12 col-lg-6">
                <p class="text-white">
                    <%= __('A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the wind I should be incapable of drawing a') %>
                </p>
            </div>
            <div class="col-md-12 col-lg-6">
                <p class="text-white">
                    <%= __('single stroke at the present moment; and yet I feel that I never was a greater artist than now. When, while the lovely valley teems with vapour around me, and the meridian. I throw myself down among the tall grass by the trickling stream; and.') %>
                </p>
            </div>
        </div>
        <br>
    </div>
    <div class="container">
        <div class="row m-0">
            <div class="row minus-margin">
                <div class="col-lg-6 p-0">
                    <img src="images/about-us-img1.jpg" alt="image" width="100%">
                </div>
                <div class="col-lg-6" style="padding: 20px 0 0 30px">
                    <p>DID YOU KNOW THAT</p>
                    <br>
                    <h2 class="text-primary">We are trusted by </br> more than 5,000 clients</h2>
                    <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of
                        spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in
                        this spot, which was created for the bliss of souls like mine. More than 25 years of
                        experience working in the industry has enabled us to build our services and solutions in
                        strategy, consulting, digital.</p>
                    <br>
                    <button class="btn btn-outline-primary btn-lg">Read Our Story</button>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="row m-0" style="background-color: #f3f3f3; z-index: 10">
                <div class="col-lg-6 bg-dark" style="padding: 20px 30px 30px 40px">
                    <h1 class="text-primary">We are an expert<br> in<br> this field</h1>
                    <br>
                    <h4 class="text-white">Yet I feel that I never was a greater artist than now. <br> When, while
                        the lovely valley
                        teems.</h4>
                    <br>
                    <ul style="font-size: 20px;">
                        <li class="text-white"><i class="fa fa-check"> </i> &nbsp; Premium services and beyond your
                            expectation</li>
                        <li class="text-white"><i class="fa fa-check"> </i> &nbsp; Premium services and beyond your
                            expectation</li>
                        <li class="text-white"><i class="fa fa-check"> </i> &nbsp; Premium services and beyond your
                            expectation</li>
                        <li class="text-white"><i class="fa fa-check"> </i> &nbsp; Premium services and beyond your
                            expectation</li>
                    </ul>
                    <br>
                    <button class="btn btn-outline-primary btn-lg">Read Our Story</button>
                </div>
                <div class="col-lg-6 p-0 bg-white">
                    <img src="images/about-us-img2.jpg" alt="image" width="100%">
                </div>
            </div>
        </div>
    </div>
    <br><br><br> -->
    <!-- About Us End -->
    <!-- Success Story -->
    <!-- <div class="container">
        <div class="successStory">
            <br>
            <h1 style="color: #000" class="text-center">Profestional Trader</h1>
            <p class="mt-4 text-center" style="color: #bbb; text-transform: uppercase;">WHAT WE HAVE DONE</p>
            <hr>
            <br>
            <div class="row main-container-wrapper what-ve-done bg-gray m-0">
                <div class="caption col-lg-3">
                    <h2 class="text-primary count">10,000</h2>
                    <p>All Time Clients</p>
                </div>
                <div class="caption col-lg-3">
                    <h2 class="text-primary count">1,000</h2>
                    <p>Clients In This Year</p>
                </div>
                <div class="caption col-lg-3">
                    <h2 class="text-primary count">1,000</h2>
                    <p>New Projects</p>
                </div>
                <div class="caption col-lg-3">
                    <h2 class="text-primary count">100</h2>
                    <p>Avg Profit Increased</p>
                </div>
            </div>
            <div class="row m-0">
                <div class="col-lg-6">
                    <img src="images/sir.jpg" width="100%" alt="sir" />
                </div>
                <div class="col-lg-6 ceo-talk">
                    <blockquote></blockquote>
                    <h1 class="text-dark">Our goal is to be at the heart of the financial services industry as
                        businesses expand
                        across the globe.</h1>
                    <h3 class="text-primary mt-4 mb-4">John Smith</h3>
                    <p class="text-primary">CEO Of Vins Global Fintech</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br> -->
    <!-- Our Case -->
    <!-- <div class="ourCase">
        <br>
        <h1 style="color: #000" class="text-center">Our Cases</h1>
        <p class="mt-4 text-center" style="color: #ccc; text-transform: uppercase;">convered in these area</p>
        <hr>
        <br>
        <div class="our-case-pic">
            <div class="row m-0">
                <div class="col-lg-6">
                    <div class="item-content m-2">
                        <h3>Live Trainning</h3>
                        <div style="color: #000; font-size: 18px;">
                            Live Training desc
                        </div>
                        <a class="read-more-view mt-2" tabindex="0">
                            <span> Read More <i class="fa fa-long-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="item-content mt-2">
                        <h3>Event</h3>
                        <div style="color: #000; font-size: 18px;">
                            Event Description
                        </div>
                        <a class="read-more-view mt-2" tabindex="0">
                            <span> Read More <i class="fa fa-long-arrow-right"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Footer-->

    <%- include ('../partials/footer') %>
    <!-- Swiper JS -->
    <script src="js/swiper.min.js"></script>
</body>

</html>