<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../../../partials/head') %>
</head>

<body style="background-color: #eee;">
    <header>
        <%- include ('../../../../partials/header') %>
        <img src="/images/navbar-bg.jpg" alt="navbar-bg" style="width: 100%; height: 90px;">
    </header>
    <main>
        <div class="container">
            <div class="row top-category-news">
                <div class="col-md-3 col-6">
                    <div class="item">
                        <a href="/news/search/1" class="item-img-wrapper">
                            <div style="background: url(https://invest318.com/data/category/dmi1588131714.jpg);background-size: cover;"
                                class="thumbWrap">
                                <img src="https://invest318.com/data/category/dmi1588131714.jpg" alt="Tin Forex"
                                    class="thumb"></div>
                        </a>
                        <div class="top-content">
                            <a href="/news/search/1">
                                <h4 class="cat-name"><%= __('Tin Forex') %></h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="item">
                        <a href="/news/search/2" class="item-img-wrapper">
                            <div style="background: url(https://invest318.com/data/category/zcl1588641370.jpg);background-size: cover;"
                                class="thumbWrap">
                                <img src="https://invest318.com/data/category/zcl1588641370.jpg" alt="Tin hàng hóa"
                                    class="thumb"></div>
                        </a>
                        <div class="top-content">
                            <a href="/news/search/2">
                                <h4 class="cat-name"><%= __('Tin Hàng Hóa') %></h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="item">
                        <a href="/news/search/3" class="item-img-wrapper">
                            <div style="background: url(https://invest318.com/data/category/jlw1588131738.jpg);background-size: cover;"
                                class="thumbWrap">
                                <img src="https://invest318.com/data/category/jlw1588131738.jpg"
                                    alt="Tin kinh tế thế giới" class="thumb"></div>
                        </a>
                        <div class="top-content">
                            <a href="/news/search/3">
                                <h4 class="cat-name"><%= __('Tin Kinh Tế Thế Giới') %></h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="item">
                        <a href="/news/search/4" class="item-img-wrapper">
                            <div style="background: url(https://invest318.com/data/category/nsh1588131749.jpg);background-size: cover;"
                                class="thumbWrap">
                                <img src="https://invest318.com/data/category/nsh1588131749.jpg"
                                    alt="Đời sống tài chính " class="thumb"></div>
                        </a>
                        <div class="top-content">
                            <a href="/news/search/4">
                                <h4 class="cat-name"><%= __('Đời Sống Tài Chính') %></h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row news-bottom">
                <h1 class="m-3"><%= news.mainTitle %></h1>
                <div class="col-md-8 main-big">
                    <img src="/upload/<%= news.image %>" alt="news-bg" width="100%" class="mb-3">
                    <div class="news-desc">
                        <p><%- news.mainContent %></p>
                    </div>
                </div>
                <div class="col-md-4 brokers">
                    <div class="aside box-shadow">
                        <div class="content">
                            <h2 data-toc-skip="" class="title-right">
                                <%= __('Danh sách sàn ngoại hối') %>
                            </h2>
                            <div class="top-broker bg-white">
                                <ul>
                                    <li class="item-broker-wrap">
                                        <a href="#">
                                            <div class="item-broker">
                                                <div class="item-borker-image">
                                                    <img src="/images/btf.png" alt="BTF Prime">
                                                </div>
                                                <div class="item-content">
                                                    <h3 class="broker-name">BTF Prime</h3>
                                                    <p class="broker-info">10-15 <%= __('năm') %></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-broker-wrap">
                                        <a href="#">
                                            <div class="item-broker">
                                                <div class="item-borker-image">
                                                    <img src="https://invest318.com/data/broker/ukw1587453923.jpg"
                                                        alt="IC Markets">
                                                </div>
                                                <div class="item-content">
                                                    <h3 class="broker-name">IC Markets</h3>
                                                    <p class="broker-info">10-15 <%= __('năm') %></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-broker-wrap">
                                        <a href="/thong-tin-san/exness-24.html">
                                            <div class="item-broker">
                                                <div class="item-borker-image">
                                                    <img src="https://invest318.com/data/broker/yxb1587367882.jpg"
                                                        alt="Exness">
                                                </div>
                                                <div class="item-content">
                                                    <h3 class="broker-name">Exness</h3>
                                                    <p class="broker-info">5-10 <%= __('năm') %></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-broker-wrap">
                                        <a href="/thong-tin-san/xm-26.html">
                                            <div class="item-broker">
                                                <div class="item-borker-image">
                                                    <img src="https://invest318.com/data/broker/dnt1587377003.jpg"
                                                        alt="XM">
                                                </div>
                                                <div class="item-content">
                                                    <h3 class="broker-name">XM</h3>
                                                    <p class="broker-info">5-10 <%= __('năm') %></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-broker-wrap">
                                        <a href="/thong-tin-san/fxpro-31.html">
                                            <div class="item-broker">
                                                <div class="item-borker-image">
                                                    <img src="https://invest318.com/data/broker/pcv1587376821.jpg"
                                                        alt="FxPro">
                                                </div>
                                                <div class="item-content">
                                                    <h3 class="broker-name">FxPro</h3>
                                                    <p class="broker-info">10 - 15 <%= __('năm') %></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="item-broker-wrap">
                                        <a href="/thong-tin-san/go-markets-37.html">
                                            <div class="item-broker">
                                                <div class="item-borker-image">
                                                    <img src="https://invest318.com/data/broker/sbm1587376841.jpg"
                                                        alt="Go Markets">
                                                </div>
                                                <div class="item-content">
                                                    <h3 class="broker-name">Go Markets</h3>
                                                    <p class="broker-info">15-20 <%= __('năm') %></p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <footer>
        <%- include ('../../../../partials/footer') %>
    </footer>
</body>

</html>